// These rules that prevent overflowing of heading text in the headers, wrapping
// the text instead. Some icons are positioned absolutely around the headings,
// so we add a fixed padding to the right of the headings. Because the height of
// the header is now flexible, we also need to need make sure the icons are
// always vertically centered without using hardcoded positions.

.debate-new .header,
.proposal-form .header,
.budget-investment-new .header {
  h1, h2 {
    @include breakpoint(medium) {
      padding-right: rem-calc(200);
    }

    @include breakpoint(large) {
      padding-right: rem-calc(240);
    }
  }

  @include breakpoint(large) {
    .header-icon ~ h1, .header-icon ~ h2 {
      padding-right: rem-calc(360);
    }

    .header-icon, &.header-single-heading .header-icon {
      top: calc(50% - #{rem-calc(30)});
    }
  }


  @include breakpoint(medium) {
    &.header-single-heading::after, &::after {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
