$theme-white-header: false !default;
$theme-footer-image: true  !default;

@if $theme-white-header {
  body .top-bar-title {
    background: #fff;

    &::before {
      background: #fff;
    }
  }
}

if not $theme-footer-image {
  .footer-image {
    display: none;
  }
}
