// Overrides and adds customized foundation settings in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

$brand:               #259e8e;
$brand-secondary:     #554866;
$primary-color:       #259e8e;

$font-family-serif:   Verdana, Arial, sans-serif;
$body-font-family:    Verdana, Arial, sans-serif;
$header-font-family:  $body-font-family;

$link:                #000;
$link-hover:          #000;

$budget:              #554866;
$budget-hover:        #554866;
