// Custom, per-client CSS to cater to specific design requirements
// that can't be addressed by changing variables or changing
// existing CSS.

$body-font-family: "Arial", sans-serif !important;
$header-font-family: $body-font-family;

$theme-white-header: true;
$theme-footer-image: false;

$base-font-size:    18px;
$border:            #cbc7c7;
$brand:             #E30613;
$brand-secondary:   #b2d0d8;
$brand-light:       #808285;
$dark:              #2d313b;
$footer:            #fff;    // Unused
$highlight-soft:    #f0f3f6;
$highlight-text:    #8a9999;
$hover:             $brand;
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #4ab4f9;
$label:             #00469f;
$light:             #e5e5e5;
$like:              #21a562;
$link-dark:         #493d57;
$link-hover:        $brand;
$link-soft:         #a099a8;
$text:              #000;
$unlike:            #da262b;
$title-border:      #f2ab15;

// The following exceptions would ideally be managed by changing
// relevant variables above. But since not all UI features have
// these, we create actual CSS exceptions:

.debate .panel h3 a {
  color: $brand-light;

  &:hover {
    color: $brand;
  }
}
