// Custom, per-client CSS to cater to specific design requirements
// that can't be addressed by changing variables or changing
// existing CSS.

$theme-white-header: true;
$theme-footer-image: false;

$base-font-size:       18px;
$border:            #cbc7c7;
$brand:             #1bb7ba;
$brand-secondary:   #ffcc00;
$brand-light:       lighten($brand, 10%);
$dark:              #000000;
$footer:            #c9d8ff;
$highlight-soft:    #f0f3f6;
$highlight-text:    #8a9999;
$hover:             darken($brand, 20%);
$hover-secondary:   darken($brand-secondary, 20%);
$info:              #59c3fe;
$label:             #00469f;
$light:             #f2f5f7;
$like:              #21a562;
$link-dark:         #493d57;
$link-hover:        $brand;
$link-soft:         #a099a8;
$text:              #000000;
$unlike:            #da262b;
$title-border:      $brand;

$body-font-family: "Arial", sans-serif !important;

// Specific color for this client
$onshogeland-very-light-grey: #f3f3f3;

// Body class added to increase specifity.
body {
  .subnavigation {
    background: $onshogeland-very-light-grey;

    &, & * {
      color: black !important;
    }
  }

  // Custom button styles
  .button, .button:focus, .budget.button {
    font-weight: bold;
    box-shadow: none;
    background: $brand-secondary;
    color: #000;

    &:hover {
      background: #000;
      color: $brand-secondary;
    }

    &.primary {
      background: #000;
      color: $brand-secondary;

      &:hover {
        background: $brand-secondary;
        color: #000;
      }
    }
  }

  // Custom submenu styles
  .no-bullet.submenu {
    li {
      a, a * {
        color: #000;

        &.is-active,
        &.is-active * {
          color: $brand;

          &::after {
            border-color: $brand;
          }
        }
      }
    }
  }

  // Footer should be very, very light grey
  .footer {
    background: $onshogeland-very-light-grey;

    &, & * {
      color: black !important;
    }
  }
}
